.navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
}

body {
    font-size: 14px;
    background-color: #f9fbff !important;
    -webkit-font-smoothing: antialiased;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #d0d0f5;
    color: #000067;
    border-radius: 4px;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important;
    background: #645cf3;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}

a.btn-primary {
    color: #fff;
    background-color: #5969ff;
    border-color: #5969ff;
    font-weight: 700;
}

a i.ti-plus {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

h5.section-title.bg-white.py-2.pl-2 i {
    color: #000 !important;
    font-size: 22px;
    margin-right: 3px !important;
    margin-top: 3px !important;
}

.page-breadcrumb .breadcrumb {
    border-radius: 0px;
    border-top: 1px solid #7069de;
    padding-top: 10px;
    font-size: 17px;
    color: #0000;
}

.page-breadcrumb .breadcrumb .breadcrumb-link {
    color: #000000;
}

.pageheader-title {
    font-size: 24px;
    margin-bottom: 8px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-family: sans-serif;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #8079e3;
}

.custom {
    margin-right: 29px;
}
